a {
    color: #ff0099;
}
.header {
    background: #333333;
    padding: 1%;
    text-align: right;
}
body {
    background-image: url("TopographyPattern.webp");
    font-family: 'Courier New', Courier, monospace;
}
.body {
    padding: 10%;
}
h3 {
    color: #ff0099;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}
h2 {
 text-align: center;   
}
#separator {
    text-align: center;
}